/*
Author: Cassie Lewis
https://clewisdev.com
Date: 
*/

/*
Figma design file: https://www.figma.com/file/w4ctQVGzbJpFRoS41wQi4V/Unit-Conversion-(Copy)?node-id=0%3A13&t=7bEGTiyXzTvUK3g3-0
*/

/****** VARIABLES ******/

:root {
    
    /*COLORS*/

    --periwinkle: #6943FF;
    --spring-green: rgb(78, 212, 78);
    --dark-gray: #1F2937;
    --med-gray: #273549;
    --lilac: #CCC1FF;
    --white: #FFFFFF;
  
    
    /*BORDER RADIUS*/
    --br-soft: .5rem;
    --br-round: 50%;
    
    /*FONT SIZES*/
    --fs-xs: 1rem;
    --fs-s: 1.25rem;
    --fs-m: 1.5rem;
    --fs-l: 2.25rem;
    --fs-title: 2.5rem;
}

/****** MARGIN AND PADDING RESET ******/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/******* GLOBAL STYLES *******/


body {
    min-height: 100vh;
    font-family: 'Inter', sans-serif;
    background-color: black;
    color: var(--white);
    text-align: center;
    display: grid;
    place-content: center;
}

header {
    background-color: var(--periwinkle);
    padding: 2rem 3rem;
}

h1 {
    font-size: 1.75rem;
    font-weight: 800;
    margin-bottom: 2rem;
}

input {
    display: block;
    width: 120px;
    height: 85px;
    font-family: 'Inter', sans-serif;
    font-size: 3.625rem;
    font-weight: 800;
    background-color: var(--periwinkle);
    color: var(--white);
    text-align: center;
    padding: .25rem;
    margin: 0 auto;
    margin-bottom: 1.7rem;
    border: 2px solid #B295FF;
    transition: ease-in-out, width .35s ease-in-out;
}


input:hover, input:focus {
    width: 200px;
    outline: 3px solid var(--spring-green);
    
}

/****** REMOVE NUMBER SPINNER FROM INPUT ******/

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

button {
    display: block;
    /* width: 120px; */
    color: var(--dark-gray);
    background-color: var(--white);
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    padding: 1rem 2rem;
    margin: 0 auto;
    border: none;
    border-radius: var(--br-soft);
    }

button:hover, button:focus {
    background-color: var(--spring-green);
    color: var(--dark-gray);
    transform: scale(1.1);
}

@media (max-width: 400px) {
    h1 {
        font-size: 1.25rem;
    }
}

/****** MAIN CONTAINER ******/

.main-container {
    max-width: 550px;
    margin: 1rem;
}

/****** UNITS SECTION ******/


section {
    background-color: var(--dark-gray);
    padding: 2rem 1.5rem;
}

.units {
    width: 100%;
    min-height: 120px;
    background-color: var(--med-gray);
    padding: 2rem;
    margin-bottom: 1.5rem;
}

.units-subtitle {
    font-size: 1.25rem;
    font-weight: 400;
    color: var(--lilac);
    margin-bottom: .875rem;
}

 .conv-text {
    font-size: .875rem;
    color: var(--white);
}

@media (max-width: 400px) {
    section {
        padding: 1rem .5rem;
    }
    
    .units {
        padding: 1rem .5rem;
    }


    .units-subtitle {
        font-size: 1rem;
    }

    .conv-text {
        font-size: .75rem;
    }
}


/****** HIDE LABELS FOR TEXT INPUT FIELDS ******/

.hidden {
    position: absolute;
    clip-path: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    overflow: hidden;
  } 